/*-- scss:defaults --*/
$primary:  #06436e !default;
$main-font:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default;


/*-- scss:rules --*/

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Code&family=Roboto+Mono:wght@300;400&family=Sora:wght@300;400;500;600;700;800&display=swap');

// use Sora font if available
$font-family-sans-serif:  "Sora", sans-serif !default;


